@model News_Publishing_Final_Project.Models.Publication

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Publication</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reporter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reporter.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsArticle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsArticle.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
